@media only screen and (max-width: 992px) {
	main {
		background-color: yellow;

	}
	#accueilP {
		color: purple;
	}
	
}

@media only screen and (max-width: 768px) {
	main {
		background-color: pink;

	}
	#accueilP {
		color: green;
	}
	
}

body
{
	/* background-color: lightblue; */
	background:url('img/fond.png')  fixed  top

}
header
{
	/* width:100vw;
	max-height:200px; 
	background-color: red;
	margin-left:-8px;
	text-align: center;
	font-size: 40px; */
	background: url("img/header.png")no-repeat;
	height: 350px;
}
.logo
{
	/*background-color:darkgreen; */
	background-color: transparent;
	width:110px;
}
nav
{
	background-color:darkorange; 
	float:left;
	width:120px;
	margin-left: 0;
	border-bottom-left-radius: 30px;
}
main
{
	width: 1200px;
	background-color: darkgrey;
	margin-left:120px;
	margin-right:60px;
	padding: 10px 10px 10px 10px;
}

#accueilP
{
	padding-top:60px;
	padding-left :30px;
	padding-right :30px;
}

#firstLetterP{
	font-size: 60px;
    font-family: cursive;
}


footer
{
	position:fixed;
	bottom:0;
	width:100%;
	height:70px;
	background-color: darkblue;
}

#copy
{
	position:relative;
	top:40%;
	left:40%;
	color:white;

}

.crew {
	max-width: 200px;
}

tr td:nth-child(2) {
	padding-left: 30px;
}

a {
	text-decoration: none;
}
a:hover {
	background-color: lightgreen;
}

